/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set a base font size and enable smooth scrolling */
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/* Button styles */
.btn {
    display: inline-block;
    background-color: #5ec576;
    font-size: 1.6rem;
    font-family: inherit;
    font-weight: 500;
    border: none;
    padding: 1.25rem 4.5rem;
    border-radius: 10rem;
    cursor: pointer;
    transition: all 0.3s;
}

.btn--text {
    display: inline-block;
    background: none;
    font-size: 1.7rem;
    font-family: inherit;
    font-weight: 500;
    color: #5ec576;
    border: none;
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    cursor: pointer;
    transition: all 0.3s;
}

/* Navigation styles */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9rem;
    width: 100%;
    padding: 0 6rem;
    z-index: 100;
}

.nav.sticky {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.95);
}

.nav__logo {
    height: 4.5rem;
    transition: all 0.3s;
}

.nav__links {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav__item {
    margin-left: 4rem;
}

.nav__link:link,
.nav__link:visited {
    font-size: 1.7rem;
    font-weight: 400;
    color: inherit;
    text-decoration: none;
    display: block;
    transition: all 0.3s;
}

.nav__link--btn:link,
.nav__link--btn:visited {
    padding: 0.8rem 2.5rem;
    border-radius: 3rem;
    background-color: #5ec576;
    color: #222;
}

.nav__link--btn:hover,
.nav__link--btn:active {
    color: inherit;
    background-color: #4bbb7d;
    color: #333;
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Button container styles */
.button-container {
    text-align: right;
    margin-top: 10px;
}

.button-container button {
    padding: 5px 10px;
    margin-right: 10px;
}

/* Content styles */
.content {
    margin-top: 20px;
    padding: 40px;
}

/* Add client button styles */
.add-button {
    margin-bottom: 20px;
    background-color: #5ec576;
    font-size: 1.6rem;
    font-family: inherit;
    font-weight: 500;
    border: none;
    padding: 1.25rem 4.5rem;
    border-radius: 10rem;
    cursor: pointer;
    transition: all 0.3s;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 5px;
    width: 80%;
    max-width: 500px;
    position: relative;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
}

/* Form and input styles */
.form-group {
    margin-bottom: 1.5rem;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;
}

input[type="text"],
input[type="date"],
input[type="tel"],
input[type="email"] {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1.4rem;
}

.submit-button {
    background-color: #5ec576;
    color: #fff;
    border: none;
    padding: 0.8rem 1.5rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.4rem;
    margin-top: 20px;
}

.submit-button:hover {
    background-color: #4bbb7d;
}

.search-container {
    text-align: right;
    margin-bottom: 20px;
}

#clientSearch {
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1.4rem;
    width: 100%;
    max-width: 300px;
    background-color: #f2f2f2;
}

.delete-modal {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
}

.delete-modal h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.delete-modal p {
    font-size: 1.6rem;
    margin-bottom: 20px;
}

.cancel-button {
    background-color: #ccc;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.delete-button {
    background-color: #d9534f;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}
