* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set a base font size and enable smooth scrolling */
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/* Button styles */
.btn {
    display: inline-block;
    background-color: #5ec576;
    font-size: 1.6rem;
    font-family: inherit;
    font-weight: 500;
    border: none;
    padding: 1.25rem 4.5rem;
    border-radius: 10rem;
    cursor: pointer;
    transition: all 0.3s;
}

.btn--text {
    display: inline-block;
    background: none;
    font-size: 1.7rem;
    font-family: inherit;
    font-weight: 500;
    color: #5ec576;
    border: none;
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    cursor: pointer;
    transition: all 0.3s;
}

/* Navigation styles */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9rem;
    width: 100%;
    padding: 0 6rem;
    z-index: 100;
}

.nav.sticky {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.95);
}

.nav__logo {
    height: 4.5rem;
    transition: all 0.3s;
}

.nav__links {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav__item {
    margin-left: 4rem;
}

.nav__link:link,
.nav__link:visited {
    font-size: 1.7rem;
    font-weight: 400;
    color: inherit;
    text-decoration: none;
    display: block;
    transition: all 0.3s;
}

.nav__link--btn:link,
.nav__link--btn:visited {
    padding: 0.8rem 2.5rem;
    border-radius: 3rem;
    background-color: #5ec576;
    color: #222;
}

.nav__link--btn:hover,
.nav__link--btn:active {
    color: inherit;
    background-color: #4bbb7d;
    color: #333;
}

.card {
    width: 100%;
    margin: 0 auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    height: fit-content;
}

.card-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.range-inputs {
    width: 100%;
    height: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.input-label {
    font-size: 15px;
    font-weight: bold;
}

select {
    appearance: none;
    background-color: #f5f5f5;
    border: none;
    border-radius: 20px;
    padding: 10px;
    width: 100%;
    font-size: 1.6rem;
}

select option {
    padding: 10px;
    font-size: 1.6rem;
    background-color: #fff;
    color: #333;
}

select:hover {
    background-color: #e0e0e0;
}

.range-value {
    transform: translateX(-50%);
    background-color: #5ec576;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1.2rem;
    display: inline-block;
}

.first-row {
    display: flex;
    justify-content: space-between;
}

.container {
    width: 60%;
    margin: 0 auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

.sub-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.top-cards-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.top-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    width: 100%;
    background-color: #5ec576;
}

.simulation-top-card {
    border-right: 2px solid white;
}

.top-card-num {
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;
}

.top-card-text {
    padding-bottom: 10px;
    font-size: 13px;
}

#monthly_payment {
    background-color: #f5f5f5;
    border: none;
    border-radius: 20px;
    padding: 10px;
    width: 100%;
    font-size: 1.6rem;
}

.ctn {
    display: flex;
    justify-content: center;
    margin-top: 90px;
}

.recap-ctn {
    width: 20%;
    margin: 0 auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    height: fit-content;
}

.recap-title {
    text-align: center;
    padding: 10px;
}

.recap-content {
    display: flex;
    flex-direction: column;
}

.recap-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 20px;
    padding-bottom: 15px;
    padding-right: 20px;
}

.recap-subtitle {
    background-color: #5ec576;
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    font-size: 14px;
}

.recap-text {
    font-size: 12px;
    font-weight: bold;
}

.recap-info {
    display: flex;
    justify-content: space-between;
}

.recap-info-val {
    font-size: 14px;
    color: #5ec576;
}

.btn-div {
    width: 100%;
    padding: 10px 0;
    text-align: center;
}

.next-btn {
    background-color: #5ec576;
    font-size: 1.6rem;
    font-family: inherit;
    font-weight: 500;
    border: none;
    padding: 1.25rem 4.5rem;
    border-radius: 10rem;
    cursor: pointer;
    transition: all 0.3s;
}

.active {
    background-color: #4a8ff6;
}

.hidden {
    display: none;
}

.validation-div {
    display: flex;
    justify-content: space-around;
}

.validate-btn {
    background-color: #5ec576;
    font-size: 1.6rem;
    font-family: inherit;
    font-weight: 500;
    border: none;
    padding: 1.25rem 4.5rem;
    border-radius: 10rem;
    cursor: pointer;
    transition: all 0.3s;
}

.back-btn {
    background-color: #d74141;
    font-size: 1.6rem;
    color: white;
    font-family: inherit;
    font-weight: 500;
    border: none;
    padding: 1.25rem 4.5rem;
    border-radius: 10rem;
    cursor: pointer;
    transition: all 0.3s;
}

@media screen and (max-width: 480px){
    .ctn {
        display: flex;
        flex-direction: column;
    }

}